@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800; 1.900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --fondo-color: #0d1f2d;
  --text-color: #000000;
  --textos-color: #ffffff;
  --decoral-color: red;
  --span-color: #008fff;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo-color);
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}

nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: transparent #000000;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease,
    transform 0.1s ease;
  gap: 1em;
}

.disponi {
  background-color: #fff;
  border: 1px solid #00ff1e;
  color: #000000;
  padding: 5px;
  position: relative;
  width: 11.2em;
  height: 2em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
}

.disponi:hover p {
  left: 0.5em;
  color: #fff;
}

.disponi:hover svg {
  opacity: 1;
}

.disponi:hover {
  background-color: #25d366;
}

main {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  width: 80%;
  max-width: 1000px;
  margin: 2em auto;
  margin-top: 7em;
  padding: 20px;
  box-sizing: border-box;
  transition: width 0.5s ease;
}

.img-disp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.img-disp img {
  width: 150px;
  border-radius: 50%;
}

.prese-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.prese-section h1 {
  font-size: 3em;
  color: var(--textos-color);
}

.prese-section p {
  color: var(--textos-color);
  font-size: 1.4em;
  width: 79%;
}

.active {
  color: var(--span-color);
}


.mis-butt {
  display: flex;
  gap: 2em;
}
.button a,
nav a {
  color: var(--textos-color);
}
.button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: var(--span-color);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

.button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--textos-color);
  width: 20%;
  border-radius: 20em;
  border: 3px solid var(--span-color);
  color: var(--span-color);
}

.Experiencia {
  display: flex;
  justify-content: left;
  align-items: center;
}






/*celulares*/
@media only screen and (max-width: 395px) {
  nav {
    margin-top: 2em;
  }

  main {
    margin-right: 20%;
    margin-top: 19%;
  }

  .prese-section h1 {
    font-size: 2em;
  }

  .prese-section p {
    font-size: 1.30em;
    width: 15em;
  }
}
